.parent{
    background-color: #1b6d85;
    padding: 8px;
}
.a{
    width: 100%;
    background-color: #8a6d3b;
    padding: 50px;
    margin-top: 50px;

}

.b{
    width: 100%;
    background-color: #8a6d3b;
    padding: 50px;
    margin-top: 50px;

}
