.parent{
    width: 500px;
    background-color: #1b6d85;
    padding: 8px;
}
.child{
    width: 100%;
    background-color: #8a6d3b;
    padding: 8px;

}
.grand{
    width: 100%;
    background-color: #9d9d9d;
    padding: 8px;

}


